@model List<Movie>

<div class="d-flex justify-content-between align-items-end">
    <h5 class="my-0" style="font-style: italic; font-family: 'Kufam';">Movies</h5>
    <a class="btn btn-outline-dark" asp-controller="Movie" asp-action="Create" style="font-family: 'Kufam'; font-style: italic;">Create Movie</a>
</div>

<table class="table table-striped table-dark mt-3">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Language</th>
            <th scope="col">Duration</th>
            <th scope="col" class="d-flex justify-content-center">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Category</td>
                <td>@movie.Language</td>
                <td>@movie.Duration</td>
                <td>
                    <div class="d-flex flex-wrap justify-content-between">
                        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.ID" style="cursor: pointer; color: white;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a asp-controller="Movie" asp-action="Movie" asp-route-id="@movie.ID" style="cursor: pointer; color: white;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.ID" style="cursor: pointer; color: white;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>